@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.warehouse-form {

  &__heading {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: .5rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include edge-padding(mobile);
    padding-top: 1rem;
    padding-bottom: 1.5rem;


    @include tablet {
      gap: 1rem;
      flex-grow: 1;
      padding: 0 2rem .5rem;
      margin: 1.5rem 0;
    }

    &--first {
      @extend .warehouse-form__details;
      border-bottom: 1px solid $secondary-cloud;

      @include tablet {
        border-bottom: none;
        border-right: 1px solid $secondary-cloud;
      }
    }

    &-container {
      @include tablet {
        display: flex;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    @include edge-padding(mobile);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $background-light-grey;
    border-radius: 0 0 4px 4px;

    @include tablet {
      justify-content: right;
    }
  }
}