@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as responsive;


.wh-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-cloud;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.688rem;

    &:hover {
        background-color: rgba(46, 102, 230, 0.07);
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        width: 50%;
       
        &-actions {
            width: 100%;
        }
    }
   
    &__address {
        width: 100%;
        font-size: .815rem;
        margin-bottom: 1rem;

        &__heading {
            font-size: 0.688rem;
            font-weight: 600;
        }
    }

    &__contact-name {
        width: 100%;
        font-size: .815rem;
        margin-bottom: 1rem;

        &__heading {
            font-size: 0.688rem;
            font-weight: 600;
        }
    }
    
    &__contact-info {
        width: 100%;
        font-size: .815rem;
        margin-bottom: 1rem;

        &__heading {
            font-size: 0.688rem;
            font-weight: 600;
        }
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    
        &-delete {
            width: 1.5rem;
            margin-right: 1rem;
            &:hover {
                cursor: pointer;
            }
        }
    
        &-edit {
            width: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @include responsive.tablet {
        justify-content: space-between;
    
            &__mobile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 45%;
                &-actions {
                    width: 10%;
                }
            }


        &__address {
            font-size: .815rem;
            width: 50%;

            &__heading {
                display: none;
            }
        }

        &__contact-name {
            font-size: .815rem;
            width: 50%;
            
            &__heading {
                display: none;
            }
        }

        &__contact-info {
            font-size: .815rem;
            width: 50%;

            &__heading {
                display: none;
            }
        }

        &__actions {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        
            &-delete {
                width: 1.5rem;
                margin-right: 1rem;
            }
        
            &-edit {
                width: 1.5rem;
            }
        }
    }
}

.wh-row__wh {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    &-name {
        display: flex;
        max-width: min-content;
        white-space: nowrap;
        align-items: center;
        color: #2E66E5;
        font-size: 0.815rem;

        &:hover {
            cursor: pointer;
        }

        &__heading {
            width: 100%;
            font-size: 0.688rem;
            font-weight: 600;
        }
    }
    &:hover &-icon {
        transform: translateX(4px) ;
      }
    
      &-icon {
        transition: transform 0.3s ease;
        width: 1.2rem;
      }

    @include responsive.tablet {
        display: flex;
        flex-direction: row;
        width: 50%;
        flex-wrap: nowrap;

        &-name {
            display: flex;
            min-width: min-content;
            white-space: nowrap;
            align-items: center;
            color: $primary-instock-indigo;
            font-size: .815rem;

            &__heading {
                display: none;
            }
        }
        &:hover &-icon {
            transform: translateX(4px) ;
        }
        
        &-icon {
            transition: transform 0.3s ease;
            width: 1.2rem;
        }
    }
}