@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as responsive;

p {
    color: $secondary-slate;
}

.wh {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid $secondary-cloud;
    border-top: 1px solid $secondary-cloud;

    @include responsive.tablet {
        flex-direction: row;
        border: none;
        border-top: 1px solid $secondary-cloud;
    }

}

.wh-address {
    margin-bottom: 2rem;

    @include responsive.tablet {
        border-right: 1px solid $secondary-cloud;
        padding-right: 14%;
        margin-bottom: 0rem;
        margin-left: 1rem;
    }

    @include responsive.desktop {
        margin-left: 1.5rem;
        padding-right: 15rem;
    }
    
    &__title {
        padding-top: 0.25rem;
        font-size: 0.7rem;
        margin-bottom: 0.25rem;
        font-weight: 600;
    }
    &__address {
        font-size: 0.815rem;
        @include responsive.tablet {
            width: 9rem;
        }
       
    }
}

.wh-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include responsive.tablet {
        margin-left: 3%;
    }

}

.wh-contact-name {
    
    @include responsive.tablet {
        padding-left: 2rem;
        margin-right: 1rem;
    }

    @include responsive.desktop {
        padding-left: 1rem;
    }
   
    &__title {
        padding-top: 0.25rem;
        font-size: 0.7rem;
        margin-bottom: 0.25rem;
        font-weight: 600;
    }

    &__name {
        width: 9rem;
        font-size: 0.815rem;
    }

    &__position {
        font-size: 0.815rem;
    }
}

.wh-contact-info {
    
    @include responsive.tablet {
      margin-left: 7%;
    }

    @include responsive.desktop {
        margin-left: 4rem;
    }
   
    &__title {
        padding-top: 0.25rem;
        font-size: 0.7rem;
        margin-bottom: 0.25rem;
        font-weight: 600;
    }

    &__phone {
        width: 9rem;
        font-size: 0.815rem;
    }

    &__email {
        font-size: 0.815rem;
    }
}