@use "../../styles/partials/variables" as *;

.inventory-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $secondary-cloud;
  padding: 1rem;

  &__cat {
    font-size: .815rem;
    width: 20%;
  }

  &__stock {
    width: 15%;
    margin: 0 5%;
    position: relative;
    right: 3%;
    text-align: center;
  }

  &__in-stock {
    text-transform: uppercase;
    background-color: rgb(184, 218, 208);
    border-radius: 50rem;
    padding: 0 0.5rem;
    color: $supporting-green;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.815rem;
  }

  &__warehouse {
    width: 20%;
    font-size: .815rem;
  }

  &__out-stock {
    text-transform: uppercase;
    background-color: rgb(251, 242, 238);
    color: $supporting-red;
    border-radius: 50rem;
    padding: 0 0.7rem;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.815rem;
  }

  &__quantity {
    width: 20%;
    font-size: 0.815rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;

    &-delete {
      width: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }

    &-edit {
      width: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.inventory-row__inventory {
  display: flex;
  flex-direction: row;
  width: 6rem;
  transition: 0.9 ease;
  width: 20%;

  &-item {
    display: flex;
    min-width: min-content;
    white-space: nowrap;
    align-items: center;
    color: $primary-instock-indigo;
    font-size: .815rem;
    transition: transform 1s;
  }

  &:hover &-icon {
    transform: translateX(4px) ;
  }

  &-icon {
    transition: transform 0.3s ease;
    width: 1.2rem;
  }

}