@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as responsive;

.inventories-headings {
    display: none;

    @include responsive.tablet {
        background-color: $background-light-grey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.75rem 1rem;

        & img {
            width: 1.5rem;
            cursor: pointer;
        }

        &__item {
            display: flex;
            flex-direction: row;
            width: 20%;
        }

        &__title {
            color: $secondary-slate;
            font-size: .7rem;
            align-content: center;
            padding-top:0.25rem;
            font-weight: 600;
            width: auto;

            &--name {
                width: auto;
            }
        }

        &__action {
            margin-right: 1rem;
        }

    }

}