@use 'variables' as *;

// tablet breakpoint
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

// desktop breakpoint
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// width 891px breakpoint
@mixin width891 {
  @media screen and (min-width: $width-891) {
    @content;
  }
    
}

// edge padding
@mixin edge-padding($breakpoint) {
  @if $breakpoint ==mobile {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @else if $breakpoint ==tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @else if $breakpoint ==desktop {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}