@use 'variables' as *;

// tablet breakpoint
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

// desktop breakpoint
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// edge padding
@mixin edge-padding($breakpoint) {
  @if $breakpoint ==mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @else if $breakpoint ==tablet {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}