// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// primary colors
$primary-instock-black: #13182C;
$primary-instock-indigo: #2E66E5;
$primary-instock-white: #FFFFFF;

// secondary colors
$secondary-slate: #5C667E;
$secondary-cloud: #BDC5D5;

// background colors
$background-graphite: #232940;
$background-light-grey: #F7F8F9;

// supporting colors
$supporting-green: #158463;
$supporting-red: #C94515;