@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as responsive;

.inv-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-cloud;
    padding: 1rem;
    flex-wrap: wrap;

    &__cat {
        width: 10%;
        font-size: .815rem;
    }

    &__in-stock {
        text-transform: uppercase;
        background-color: rgb(184, 218, 208);
        border-radius: 50rem;
        padding: 0 0.5rem;
        color: $supporting-green;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.815rem;
        text-align: center;
    }

    &__out-stock {
        text-transform: uppercase;
        background-color: rgb(251, 242, 238);
        color: $supporting-red;
        border-radius: 50rem;
        padding: 0 0.7rem;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.815rem;
        text-align: center;
    }

    &__quantity {
        width: 5%;
        font-size: 0.815rem;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        @include responsive.tablet {
            width: auto;
        }
    
        &-delete {
            margin-right: 1rem;
        }

        &-edit {
            margin-right: 1rem;
        }
    }
}

.inv-row__inv {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 50%;

    @include responsive.tablet {
        display: flex;
        flex-direction: row;
        width: 10%;
    }
    

    &-item {
        display: flex;
        min-width: min-content;
        white-space: nowrap;
        align-items: center;
        color: $primary-instock-indigo;
        font-size: .815rem;
    }

    &-item-con {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
    }

}

.inv-row__inv-heading--mobile {
    font-size: .7rem;


    @include responsive.tablet {
        display: none;
    }
}

.inv-row__cat-mobile {
    order: 3;
    width: 50%;
    margin-bottom: 1rem;

    @include responsive.tablet {
        order: 2;
        width: 10%;
        margin-bottom: 0rem;
    }
}

.inv-row__stock {
    order: 2;
    width: 50%;
    margin-bottom: 1rem;

    @include responsive.tablet {
        order: 3;
        width: 15%;
        margin-bottom: 0rem;
    }
}

.inv-row__quantity-mobile {
    order: 4;
    width: 50%;

    @include responsive.tablet {
        order: 4;
        width: 6%;
    }
}

.inv-row__actions {
    order: 5;
}