@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.new-inventory-form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1rem;

    &-top {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            padding: 1rem 0 0;
        }
    }

    &-group {
        row-gap: 0.5rem;
    }

    &-buttons {
        height: 4rem;
        background-color: $background-light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 0.5rem;
        border-radius: 0.25rem;

        @include tablet {
            justify-content: flex-end;
            padding-right: 1rem;
        }
    }

    &-section {
        padding: 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        justify-content: space-around;
        border-bottom: 1px solid $secondary-cloud;
        width: 100%;

        @include tablet {
            border-bottom: 0;
        }

        &:first-child {
            border-right: 1px solid $secondary-cloud;;
        }

        &__title {
            color: $background-graphite;
            font-size: 1.25rem;
            line-height: 1.75rem;

            @include tablet {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }

        &__label {
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            gap: .25rem;
            color: $background-graphite;
            font-size: 0.8125rem;
            font-weight: 600;
        }

        &__radio-buttons {
            display: flex;
        }

    }
}