@use '../../../styles/partials/fonts' as *;
@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;

.drop-down-menu {
    border-color: $secondary-cloud;
    border-radius: 1.25rem;
    padding: 0.1rem 0.25rem;
    color: $secondary-cloud;
    height: 1.75rem;

    @include tablet {
        height: 1.875rem;
    }

    &:focus {
        color: $primary-instock-black;
        border-color: $primary-instock-indigo;
    }
}