@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.drop-down-menu {
    border-color: $secondary-cloud;
    border-radius: 1.25rem;
    padding: 0.1rem 0.5rem;
    color: $secondary-cloud;

    width: 100%;
    font-size: 0.8125rem;

    height: 1.75rem;

    @include tablet {
        height: 1.875rem;
    }

    &:focus {
        color: $primary-instock-black;
        border-color: $primary-instock-indigo;
    }
}

.text-input__error {
    display: flex;
    gap: .25rem;

    &-icon {
        width: .75rem;
    }

     &-text {
        font-size: .8125rem;
        color: $supporting-red;
     }
}