@use '../../styles/partials/fonts';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';


.header {
  background: variables.$background-graphite;
  height: 12.5rem;
  font-family: 'Titillium Web', 'Courier New', monospace;
  font-weight: 400;
  font-size: .813rem;
  flex-shrink: 0;

  @include mixins.tablet {
    height: 11rem;
  }

  &__logo {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
  }

  @include mixins.tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    &__logo {
      display: block;
    }
  }

  @include mixins.desktop {
    padding: 0;

    &__logo {
      display: block;
      width: 70%;
      margin-left: auto;
    }
  }
}

.nav {
  padding-top: 1.25rem;
  padding-left: 1rem;
  display: flex;
  justify-content: center;

  &__link {
    text-decoration: none;
    color: variables.$secondary-cloud;
    margin-right: 1rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;

    &.active {
      color: white;
      background-color: variables.$primary-instock-black;
      border-radius: 1.25rem;
      padding: 0.5rem 1rem;
      width: 100%;
      margin-right: 1rem;
    }

    &:hover {
      text-decoration: underline;
    }

  }

  @include mixins.tablet {
    padding-left: 0;

    &__link {
      margin-left: 1rem;
      margin-right: 0;
      height: max-content;

      &.active {
        margin-left: 1rem;
        margin-right: 0;
        height: max-content;
      }
    }
  }

  @include mixins.desktop {
    margin-right: auto;
  }
}