.new-warehouse {

  &__header {
    display: flex;
    align-items: center;
  }

  &__back {
    padding: 0;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../assets/icons/arrow_back-24px.svg') no-repeat center;
  }
}