@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
  text-align: center;
  font-size: 0.6875rem;
  padding-bottom: 2rem;
  margin-top: -1.5rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}