@use './styles/partials/fonts';
@use './styles/partials/mixins';
@use './styles/partials/variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Titillium Web', 'Courier New', monospace;
  color: $primary-instock-black;
}

button, input, select, textarea {
  font: inherit;
  text-transform: inherit;
}