@use './styles/partials/fonts';
@use './styles/partials/mixins' as *;
@use './styles/partials/variables' as *;

html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Titillium Web', 'Courier New', monospace;
  color: $primary-instock-black;
  background-color: $background-light-grey;
  height: 100%;
}

button, input, select, textarea {
  font: inherit;
  text-transform: inherit;
}

.page-container {
  position: relative;
  top: -4rem;
  margin: 0 1rem;
  width: calc(100% - 2rem);
  background-color: $primary-instock-white;
  border-radius: 4px;

  //center it in tablet as it stays max width
  @include tablet {
    top: -6rem;
    margin: 0 2rem;
    width: calc(100% - 4rem);
  }

  //box shadow that sits behind the page container and main header
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px $secondary-cloud;
  }
}